[Unit]
Description=ceph-mon
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker run --name ceph-mon ceph/mon
ExecStop=/usr/bin/docker stop ceph-mon

[X-Fleet]
Conflicts=ceph-mon@*.service
Conflicts=ceph-osd@*.service
Conflicts=ceph-mds@*.service